.pcard {
    width:60%;
    border-radius: 8px;

    height: 90%;
    background: rgba(0,0,0,0.8);
    border-top: 2px solid #6C63FF; 
}

.pcard .headi{
    font-size: 1.5em;
    text-align: center;
    padding-top: 3%;
}

.pcard .coni{
    font-size: 2.9em;
    text-align: center;
    padding-top: 3%;
}