.venue{
    
    height: 80vh;
    width:100%;
    font-family: 'Raleway', sans-serif;
    background: url(../../assets/school.svg);
    color:white;
}

.venue .head{
    text-align: center;
    font-size: 3em;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding-top:3%;
    padding-bottom: 5%;

}

.venue .content{
    height: 60%;
}

.venue .content .row{
    height: 100%;
}

.venue .row .col-lg-6{
    height: 100%;
}

.venue #fmap{
    height: 80%;
    width: 80%;
    margin: 0 auto;
    float: right;
}

.venue .content .loc{
    padding-left: 5%;
    padding-top: 3%;
   
}

.venue .content .loc span{
    font-size: 1.8em;
}
.venue .content .loc i{
   padding-right:5%;
}

.venue .add{
    font-size: 1.2em;
    margin-top: 3%;
    width: 50%;
    margin-left: 10%;
}

@media only screen and (max-width: 600px) {

    .venue{
        height: auto;
    }

    .venue #fmap{
       
        width: 90%;
        text-align: center;
        
        /* margin-left: 10%; */
        float: none;
        padding-bottom: 10%;
      
    }

    /* .venue iframe{
        height: 100%;
    } */

    .venue .head{
        padding-bottom: 9%;
    }

    .venue .col-lg-6{
        padding: 0%;
    }

    .venue .row{
        margin-left: 0px;
    }

    .venue .content{
        height: 90%;
    }
    
    
.venue .add{
    font-size: 1.2em;
    margin-top: 3%;
    width: 100%;
  
}





}