.project{
    background:#262459;
     background-image: linear-gradient(to bottom, #24265e, #2f1c47, #2e1433, #261022, #1c0a14, #1c0a14, #1c0a14, #1c0a14, #261022, #2e1433, #2f1c47, #24265e); 
   padding-bottom: 7%;
    width:100%;
    font-family: 'Raleway', sans-serif;
}

.project .row{
    width:100%;
}

.project .a-img{
  
}

.project .a-img img{
    width: 99%;
}

.project .a-text{
    color:white;
    padding: 3% 7%;
    padding-top:5%;

}

.project .writeup{
    padding: 3% 5%;
    transition: 0.6s;
    background: rgba(0,0,0,0);
}



.project .head{
    font-size: 4em;
    font-weight: 700;
    margin-bottom: 7%;
    text-decoration: none;
    transition: 0.5s;
    color: white;
    padding-top:3%;
    text-align: center;

    
}



.project .a-text .content{
    font-size: 1.5em;
    padding-top:2%;
}



@media only screen and (max-width: 600px) {

    .project{
        padding-bottom: 15%;
        padding-top: 15%;
    }
    .project .a-img{
        text-align: center;
        padding-bottom: 10%;
      
      }

      .project .head{
          font-size: 3em;
          padding-top:5%;
          padding-bottom: 5%;
          margin-bottom:5%;
      }

      .project .a-text{
          font-size: 1.1em;
      }
}