.judge{
    background: black;
   
    width:100%;
    color:white;
    padding-top: 3%;
    text-align: center;
    padding-bottom: 5%;
}

.judge .head{
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
    font-weight: 600;
    
}

.judge .content{
    padding: 5% 10%;
    
}

@media only screen and (max-width: 600px) {
    .judge{
        padding: 15% 0%;
    }

    .judge .head{
        padding-bottom: 10%;
    }

    .judge .cardi{
        width: 100%;
        text-align: center;
        padding-left: 10%;
        
    }
}