.Jcard{
    width:90%;
    border-radius: 15px;
    min-height: 280px;
    overflow: hidden;
    position: relative;
    
}

.Jcard .pic{
    width: 100%;
    transition: 0.5s;
    position: absolute;
    height: 100%;

    

}

.Jcard .pic img{
  width : 100%;
  border-radius: 15px;
  height: 100%;


}

.Jcard:hover .pic{
    opacity: 0.3;
}

.Jcard .content{
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: -100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    transition: 0.54s;

    background: linear-gradient(0deg, #2c3e50, transparent);
}

.Jcard:hover .content{
    bottom: 0;
    font-family: 'Exo 2', sans-serif;
}

.Jcard .h4{
 
}

.Jcard .content div{
    font-size: 1.2em;
}

.Jcard .icons i{
    margin: 6% 3%;
    color: white;
    transition: all 0.5s;
}

.Jcard .icons i:hover{
    color:red;
}