.themes{
    background: rgb(16,19,24);
background: linear-gradient(180deg, rgba(16,19,24,1) 0%, rgba(38,40,98,1) 100%);
    height: 100vh;
    width:100%;
    padding-top:5%;
}

.themes .head{
    font-family: 'Raleway', sans-serif;
    color:white;
    font-weight: 600;
    text-align: center;
    font-size: 3.5em;
}