.about{
    background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 27%, rgba(9,9,44,1) 50%, rgba(38,40,98,1) 100%);
   padding-bottom: 10%;
    width:100%;
    font-family: 'Raleway', sans-serif;
}

.about .row{
    width:100%;
}

.about .a-img{
  text-align: right;

}

.about .a-img img{
    width: 85%;
}

.about .a-text{
    color:white;
    padding: 5% 10%;
    padding-top:0%;
}

.about .a-text .head{
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 6%;
    
}

.about .a-text .content{
    font-size: 1.1em;
}