.about{
    background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 27%, rgba(9,9,44,1) 50%, rgba(38,40,98,1) 100%);
   padding-bottom: 10%;
    width:100%;
    font-family: 'Raleway', sans-serif;
}

.about .row{
    width:100%;
}

.about .a-img{
  text-align: right;

}

.about .a-img img{
    width: 85%;
}

.about .a-text{
    color:white;
    padding: 3% 7%;
    padding-top:0%;
}

.about .writeup{
    padding: 3% 5%;
    transition: 0.6s;
    background: rgba(0,0,0,0);
}

.about .writeup:hover{
    background: rgba(0,0,0,0.7);
}

.about .head{
    font-size: 4em;
    font-weight: 700;
    margin-bottom: 6%;
    text-decoration: none;
    transition: 0.5s;
    color: white;
    text-align: center;

    
}



.about .a-text .content{
    font-size: 1.4em;
    padding-top:2%;
}



@media only screen and (max-width: 600px) {

    .about{
        padding-bottom: 15%;
        padding-top: 15%;
    }
    .about .a-img{
        text-align: center;
        padding-bottom: 10%;
      
      }

      .about .head{
          font-size: 3em;
          padding-top:5%;
          padding-bottom: 5%;
          margin-bottom:5%;
      }

      .about .a-text{
        font-size: 1.1em;
    }
}