#header{
    position: relative;
    width: 100%;
    height: 130vh;
    background-size: cover;
    background-image: url(../../assets/larabg.jpg);
    /* background-color: black; */
    overflow: hidden;
}



.particles{
    z-index: -1;
}

#logo{
    
  
}

#logo .fab{
    color: #8A97A3;
    margin-top: 10px;
}

.fab:hover{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fc0000+0,ffff00+84,ffff00+100 */
    color: white;

}


#content{
    margin: 0 auto;
    margin-top: -42%;
    position: relative;
    z-index: 10;
    width: 55%;
    text-align: center;
    color: aliceblue;
    
    

}

.land-nav{
    padding-top:2%;
    text-align: right;
    margin-right: 3%;
    
}

.land-nav .icons{
    
}

.land-nav i{
    color: white;
    margin-left: 30px;
    transition: all 1s;
}

.land-nav i:hover{
    color:red;
}

#content .dsclogo{
    width: 10%;
}

#head0{
    font-weight: normal;
    font-style: normal;
    font-size: 2.5em;
    font-weight: 350;
    text-transform: uppercase;
    font-family: 'Righteous', cursive;
}

#head1{
    

    font-size: 1.1em; 
   
    font-weight: 100;
    margin-top:2%;
    font-family: 'Open Sans', sans-serif;


}

#heading{
     
    font-weight: normal;
    font-style: normal;
    font-size: 4.9em;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Righteous', cursive;
    transition: all 0.7s;

}

#heading:hover{
    font-size: 4.9em;
}

#content .details {
    width: 75%;
    margin: 0 auto;
    margin-top:2%;
    font-family: 'Righteous', cursive;
    text-align: left;
    font-size: 1.2em;

}

#content .details i{
    margin-right: 3%;
}
/* 
#content .col-7{
    float: right;
} */

#butcourse{
    border-radius: 20px;
    background: inherit;
    border-color: white;
    outline: none;
    transition: all 0.9s;
    width: 11em;
    height: 2.8em;
}

#butcourse:focus{
    outline: none;
}

#butcourse:hover{
    background-color: black;
    border : none;
    width: 12em;
    height: 3em;
    border-radius: 30px; 
    
}


.rocket{
    width:23%;
}

.rocket img{
    width:100%;
   
    margin-left: -20%;
    margin-top: -10%;

}

.rocket .animated{
    transform: rotate(45deg) !important;
}

#content .rbut{
    margin-top: 4%;
}

.rbut button{
    width:8em;
    height: 3em;
    font-size: 1.1em;
    border-radius: 0%;
    padding: 0em;
    font-family: 'Raleway', sans-serif;
    border-bottom-right-radius:12px !important;
    border-top-left-radius: 12px;
    
}

.rbut button:hover{
    background: rgba(0,0,0,0.6);
    border-color: white;
}
#card{

    margin-left: 100px;
   
  }


/* mobile */

.mob-head{
    width: 100%;
    height: 105vh;
    position: relative;
    background: rgba(0,0,0,1);
    border-bottom-right-radius: 1.1em;
    border-bottom-left-radius: 1.1em;
    /* margin-bottom: 1%; */
    
   
   
}

.mob-head .l-top{
    height:75vh;
    position: absolute;
    z-index:1;
    width: 100%;
    border-bottom-right-radius: 1.1em;
    border-bottom-left-radius: 1.1em;
    /* background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%); */
    background: #24292E;
}

.mob-head .head{
    color:white;
    width:100%;
    

    padding-top:17%;
    text-align: center;

    font-family: 'Righteous', cursive;
    font-size:4.5rem;
}

.mob-head .m-intro{
    width:100%;
    color:white;
    text-align: center;
    padding: 5% 8% 5% 8%;
    font-size: 1.5em;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.mob-head .buttons{
    width:100%;
    text-align: center;

    margin-top:6%;    
    
}

.mob-head .buttons img{
    width:50%;
}


.mob-head .buttons .row{
    width:100%;
}

.mob-head .buttons .aa{
    float:right;
}

.mob-head .buttons .bb{
     float: left;
}


.mob-head .l-bottom{
    height: 30vh;
    overflow: hidden;
    width:100%;
    
    position: absolute;
    z-index:5;
    top:70vh;
    text-align: center;
}

.mob-head .l-bottom img{
    width:80%;
    margin-top: 6%;

   
    
}




  
  