.prize{
    background: url(../../assets/prize.jpg);
    height: 100vh;
    width:100%;
}

.prize .content{
    padding:4% 9%;
    padding-bottom: 0%;
    padding-right: 3%;
    font-family: 'Raleway', sans-serif;
    color:white;



}

.prize .ex{
    font-size: 2.5em;
    margin-top:30%;
}

.prize .main{
    height: 100%;;
}

.prize .content .head{
    font-size: 4em;
    font-weight: 500;
    padding-bottom: 6%;
}

.prize .graphic img{
    width: 90%;
    margin-top:20%;
}

.row{
    width: 100%;
}

.prize .dis{
    height: 30%;
}

.prize .mid{
    height: 30%;
  
}

.prize .mid .row{
    height: 100%;
}

@media only screen and (max-width: 600px) {

    .prize{
        padding-bottom: 20%;
        height: auto;
    }

    .prize .content .head{
        font-size: 3em;
        font-weight: 500;
        padding-top: 6%;
        padding-bottom: 9%;
        text-align: center;
    }

    .prize .graphic img{
        width: 100%;
        margin-top:20%;
    }
    

    .prize .ex{
        font-size: 1.5em;
        margin-top:30%;
        text-align: left;
        
    }

    .prize .content{
    /* padding:4% 9%; */
    padding-bottom: 0%;
    padding-right: 8%;
    font-family: 'Raleway', sans-serif;
    color:white;

    }
    



}

