.sponsors{
    height: 90vh;
    width:100%;
    font-family: 'Raleway', sans-serif;
    background: rgb(16,19,24);
    color:white;
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, #152873 100%);
}

.sponsors .head{
    font-size: 3.0em;
    font-weight: 600;
    text-align: center;
}

.sponsors .content{
    padding: 7%;
}

.sponsors .content img{
    width:100%;
}

.sponsors .col-4{
    text-align: center;
}

.sponsors .content .google{
    width: 40%;
    margin: 0 auto;
}