.sponsors{
   
    width:100%;
    font-family: 'Raleway', sans-serif;
    background: rgb(16,19,24);
    color:white;
    margin-top:-10vh;
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, #152873 100%);
}

.sponsors .head{
    font-size: 3.0em;
    font-weight: 600;
    text-align: center;
    margin-top: -55%;
}

.sponsors .content{
    padding: 7%;
}

.sponsors .content img{
    width:100%;
}

.sponsors .col-lg-4{
    text-align: center;
}

.sponsors .content .google{
    width: 40%;
    margin: 0 auto;
}

.sponsors .bo{
    margin-top: 5%;
}

@media only screen and (max-width: 600px) {

    .sponsors{
        padding-bottom: 15%;
        background: rgba(0,0,0,0);
        margin-top: -100vh;
    }

    .sponsors .content .google{
        width: 30%;
        
    }

    .sponsors .head{
        padding-bottom: 10%;
    }

    .sponsors .content img{
        margin-bottom: 9%;
    }

    .sponsors .bo{
        margin-top:12%;
    }

    .sp{

        background: linear-gradient(180deg, rgba(0,0,0,1) 0%, #152873 100%);

    }

    .sp canvas{
        min-height: 105vh;
    }

}